* {
    font-family: Roboto;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.top-section {
    background-color: #1f2937;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

.hero-main-text {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.hero-secondary-text,
li a {
    font-size: 18px;
    color: #e5e7eb;
}

.hero-section button {
    background-color: #3882f6;
    color: #f9faf8;
}