* {
    font-family: Roboto;
}

body {
    margin: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 32px;
}

.top-section {
    background-color: #1f2937;
    padding: 12px 200px 50px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 24px;
    font-weight: 600;
    color: #f9faf8;
    text-transform: uppercase;
}

.hero-section {
    margin: 100px auto;
    display: flex;
    gap: 32px;
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.hero-main-text {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    margin-bottom: 0;
}

.hero-secondary-text,
li a {
    font-size: 18px;
    color: #e5e7eb;
    margin-top: 0;
}


.hero-section button {
    background-color: #3882f6;
    color: #f9faf8;
    padding: 8px 32px;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 600;
}

.hero-section img {
    width: 700px;
    height: 300px;
}

.info-section {
    margin: 50px 0;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.info-card {
    width: 200px;
    margin: 0 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-img {
    width: 200px;
    height: 200px;
    border: #3882f6 solid 2px;
    border-radius: 8px;
    background-size: cover;
}

.info-header {
    width: 100%;
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.card1 {
    background-image: url("../img/pexels-screen-post-gadgets.jpg");
}

.card2 {
    background-image: url("../img/pexels-cottonbro-studio-support.jpg");
}

.card3 {
    background-image: url("../img/pexels-ksenia-chernaya-install.jpg");
}

.card4 {
    background-image: url("../img/pexels-fauxels-passion.jpg");
}

.testimonial-section {
    margin: 100px 0 80px;
    padding: 80px 300px;
    background-color: #e5e7eb;
    color: #1f2937;
}

.testimonial-text {
    font-size: 36px;
    font-weight: 200;
    font-style: italic;
}

.testimonial-person {
    text-align: right;
    font-size: 24px;
    font-weight: 700;
    padding-right: 50px;
}

.cta-section {
    padding: 0 200px 80px;
}

.cta-section button {
    background-color: #3882f6;
    color: #f9faf8;
    padding: 8px 32px;
    border: #f9faf8 solid 2px;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 600;
}

.cta-box {
    background-color: #3882f6;
    border-radius: 8px;
    padding: 30px 100px;
    display: flex;
}

.cta-box h3 {
    color: #f9faf8;
    margin-bottom: 0;
}

.cta-box p {
    color: #e5e7eb;
    margin-top: 0;
}

.cta-left {
    width: 60%;
}

.cta-right {
    width: 40%;
    padding-right: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}